include README.md
recursive-include octoprint_psucontrol_momentarygpio/templates *
recursive-include octoprint_psucontrol_momentarygpio/translations *
recursive-include octoprint_psucontrol_momentarygpio/static *
