<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->

<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <label for="gpio-device" class="control-label">GPIO Device</label>
        <div class="controls">
            <select id="gpio-device" data-bind="value: settings.plugins.psucontrol_momentarygpio.gpioDevice" >
                {% for item in plugin_psucontrol_momentarygpio_availableGPIODevices %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <span class="help-inline">Pin numbers correspond to what is exposed by the GPIO device.</span>
            <span class="help-inline"><span class="label label-important">Raspberry Pi Users: Use BCM numbering.</span> See: <a href="https://pinout.xyz" target="_new">https://pinout.xyz</a></span>
        </div>
    </div>
    <br />
    <div class="control-group">
        <label for="gpio-pin" class="control-label">On/Off GPIO Pin</label>
        <div class="controls">
            <input id="gpio-pin" type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_momentarygpio.switchGPIOPin"> <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_momentarygpio.invertSwitchGPIOPin" aria-label="Invert"> Invert
        </div>
        <label for="pulse-time" class="control-label">Pin Pulse Time (ms)</label>
        <div class="controls">
            <input id="pulse-time" type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_momentarygpio.pulseTime">
        </div>
    </div>
</form>
